.selfbg{
    background-image: url(https://img.freepik.com/free-photo/executive-touching-icon-social-network_1232-158.jpg?w=996&t=st=1690107833~exp=1690108433~hmac=3076b4eb583075912a423bb5c7100fd9c86dd8fc5e67d0bf364729356a0929ba);
    height:1000px;
    backgroud-repeat:no-repeat;
    background-size: cover;
}
.selfbg .addbutton1{
    margin-left:50%;
    width:200px;
    height:50px;
    margin-top: 100px;
}
.selfbg .addbutton2{
    margin-left:80%;
    width:200px;
    height:50px;
    margin-top: 60px;
}